@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Permanent+Marker&display=swap');

body {
  margin: 0;
  font-family: 'Permanent Marker', cursive;
  background-color: #62B6CB;
  color: #1b4965;
}


